.calendarBody {
  background-color: white;
  padding: 1rem;
  padding-bottom: 3rem;
}

.currentMonth {
  color: rgb(0, 140, 133);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.weekDays {
  color: rgb(235, 27, 87);
  border: 4px solid transparent;
  text-align: center;
  font-weight: bold;
}
