.calendarBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1.5rem;
}

.currentMonth {
  color: rgb(0, 140, 133);
  font-size: 1.2em;
  font-weight: bold;
  margin: 3rem;
}
.weekDays {
  color: rgb(235, 27, 87);
  font-size: 1em;
  font-weight: bold;
  border: 4px solid transparent;
  padding: 5px;
}
