.currentDay {
  display: flex;
  flex-direction: column;
  justify-content:center;  
  background-color: rgb(56, 206, 196);
}

div > .currentDayOfW {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

div > .currentDate {
  margin: 2rem;
  font-size: 8em;
  color: white;
}
