.calendar {
  display: flex;
  justify-content: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid rgb(0, 140, 133);
}

@media screen and (max-width: 575px) {
  .calendar {
    flex-direction: column;
  }
}
